@page
@model WebAppIdentity.Pages.HumanResourceModel
@{
    ViewData["Title"] = "HumanResource";
}

<h1>Human Resource page</h1>

<div>lots of secure HR stuff here...(need Department & Manager privs)</div>
