@page
@model WebAppIdentity.Pages.Account.AccessDeniedModel
@{
    ViewData["Title"] = "AccessDenied";
}

<h1 style="color:red">AccessDenied</h1>
<div style="color:red">You dont have access to this page.</div>

